@model IEnumerable<Model.Calificaciones>

@{
    ViewBag.Title = "RecordNotas";
    Layout = null;
}
<link href="~/Content/RecordNotas.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body onload="print()">

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">

            <img src="~/Image/Logo_Ministerio_de_Educacin.png" class="center-block" height="110" />
        </div>
    </div>

    <div class="row">
        <ul class="text-center">
            <li>
                <h5 class="text-center"><strong>RECORD DE CALIFICACIONES(NOTAS) DEL NIVEL PRIMARIO</strong> </h5>
            </li>

            <li class="Font">
                <p>El Centro Educativo: <u> Escuela Básica David Durán  </u></p>
            </li>
            <li class="Font">
                <p>
                    Regional NO. <u>1015</u> Distrito Educativo No. <u>145</u> Certifica que el/la estudiante <u>
                        @ViewBag.Nombre
                    </u> Nacido(a) en<u> República Dominicana</u>
                </p>
            </li>
            <li>
                <p class="Font">el día <u>04 </u> del mes de <u> Marzo </u> del año <u> 2018,</u> cursó los siguientes grados del Nivel Secundiario y obtuvo las</p>
            </li>
            <li>
                <p class="Font"> calificaciones siguientes:</p>
            </li>

        </ul>
    </div>

    <div class="margin-div">
        <table class="table table-bordered">
            <tr>
                <th colspan="6">PRIMER CICLO</th>
            </tr>

            <tr>
                <th colspan="3">Primer Semestre</th>
                <th colspan="3">Segundo Semestre</th>
            </tr>
            <tr>
                <th>
                    Asignatura
                </th>
                <th>
                    Calificaciones
                </th>
                <th>
                    Fecha de Aprobacion
                </th>

                <th>
                    Asignatura
                </th>
                <th>
                    Calificaciones
                </th>
                <th>
                    Fecha de Aprobacion
                </th>
            </tr>

            @foreach (var item in ViewBag.Student)
            {
                <tr>
                    <td>
                        <strong> @item.Materias.Descripcion </strong>
                    </td>
                    <td>
                        @item.Nota
                    </td>
                    <td>
                        @DateTime.Now.ToString()
                    </td>
                    <td>
                        <strong> @item.Materias.Descripcion </strong>
                    </td>
                    <td>
                        @item.Nota
                    </td>
                    <td>
                        @DateTime.Now.ToString()
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="margin-div">
        <table class="table table-bordered">
            <tr>
                <th colspan="6">Segundo Ciclo</th>
            </tr>
            <tr>
                <th colspan="3">Primer Semestre</th>
                <th colspan="3">Segundo Semestre</th>
            </tr>
            <tr>
                <th>
                    Asignatura
                </th>
                <th>
                    Calificaciones
                </th>
                <th>
                    Fecha de Aprobacion
                </th>
                <th>
                    Asignatura
                </th>
                <th>
                    Calificaciones
                </th>
                <th>
                    Fecha de Aprobacion
                </th>
            </tr>
            @foreach (var item in ViewBag.Student)
            {
                <tr>
                    <td>
                        <strong> @item.Materias.Descripcion </strong>
                    </td>
                    <td>
                        @item.Nota
                    </td>
                    <td>
                        @DateTime.Now.ToString()
                    </td>
                    <td>
                        <strong> @item.Materias.Descripcion </strong>
                    </td>
                    <td>
                        @item.Nota
                    </td>
                    <td>
                        @DateTime.Now.ToString()
                    </td>
                </tr>
            }
        </table>
    </div>
</body>