@model Model.Registro

@{
    ViewBag.Title = "Account";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger">@ViewBag.Message</div>
    }
}

<div class="row">
    <div class="col-xs-6 col-md-6 col">
        <img src="~/Image/Picture-Login.png" class="img-h" />
    </div>

    <div class="col-xs-6 col-md-6">
        <div class="move">
            <img src="~/Image/Rectangle 50.png" width="350" height="90" />

            <div class="">
                <div>
                    <p class="text-primary" style="margin-right: 20px; margin-left: 85px; margin-top: 3%; margin-bottom: 15%">Educación a tu alcance</p>

                </div>
            </div>

            <div class="form-horizontal">
                @using (Html.BeginForm("Account", "Login"))
                {

                    @*------Diseno Patron-------*@


                    <form>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control text-primary form-input", placeholder = "Usuario" } })
                            @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Contraseña, new { @class = "form-control text-primary form-input", placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <br />
                        <input type="submit" value="Acceder" style="margin-left:-10px " class="btn form-control btn-primary form-input" />
                    </form>

                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

