@model IEnumerable<Model.Asignar_Tarea>

@{
    ViewBag.Title = "Index";
}


@{
    Layout = "~/Views/Shared/_InternalHome.cshtml";
}

<h2 style="margin-left:130px; color:#22233E; font-size:30px; margin-top:50px; margin-bottom:30px">Tareas Asignadas</h2>
@if (Session["Rol"].ToString() == "Profesor")
{
    <p style="margin-left:150px; margin-bottom:30px">
        @Html.ActionLink("Nueva Tarea", "Create", new { id = 7 }, new { @Class = "btn btn-default btn-block" })
    </p>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times; </button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

@foreach (var item in Model)
{
    <div class="MostrarTarea" style="width:auto; height:230px; margin-left:130px; border: solid 4px #22233E;
                 padding-bottom:15px; border-radius:5px; margin-bottom:25px; margin-right:100px; min-width:325px">

        <h2 style="margin-left:20px; color:#22233E; margin-right:20px">@Html.DisplayFor(modelItem => item.Titulo)</h2>

        <p style="margin-left:20px; margin-top:10px; color:black; text-align:left; margin-right:20px">@Html.DisplayFor(modelItem => item.Contenido)</p>

        @using (Html.BeginForm("TareaArte", "Subir_Tarea", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            if (Session["Rol"].ToString() == "Estudiante")
            {
                <input type="number" name="ID" value="@item.ID_AsignarTarea" hidden />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" name="tarea" id="tarea" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" id="submit" value="Subir Tarea" class="btn btn-danger"
                               style="margin-bottom:20px; margin-top:10px;" />
                    </div>
                </div>
            }

        }

        @if (Session["Rol"].ToString() == "Profesor")
        {
            <div style="margin-top:80px; margin-left:20px; margin-right: 580px;">
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_AsignarTarea }, new { @Class = "btn btn-danger " })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_AsignarTarea }, new { @Class = "btn btn-primary" })
            </div>
        }
    </div>
}

