@model Model.Registro

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_InternalHome.cshtml";
}
<style>
    input {
        max-width: 730px !important;
        height: 45px !important;
    }

    select {
        max-width: 730px !important;
        height: 45px !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 style="margin-left: 45%"> Editar</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Registro)

        <div style="margin-left: 15%; margin-right: 10%; margin-top: 5%; margin-bottom: 3%">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group input-g">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                        @Html.DropDownList("ID_Estudiante", null, "--Estudiante/Profesor--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_Estudiante, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group input-g">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Usuario" } })
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group input-g">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(model => model.Contraseña, new { @class = "form-control", required = "required", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group input-g">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                        @Html.DropDownListFor(model => model.Rol, new SelectList(new[] { "Administrador", "Estudiante", "Profesor" }), "--Seleccione el Rol--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 ">
                @Html.ActionLink("Cancelar", "Index", "Registroes", null, new { @style = "max-width: 450px !important; height: 45px !important", @class = "btn btn-primary btn-block" })
            </div>

            <div class="col-xs-12 col-md-6">
                <input type="submit" value="Guardar" class="btn btn-danger btn-block" />
            </div>

        </div>
    </div>

}

