@model IEnumerable<Model.Materias>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InternalHome.cshtml";
}

<style>
    .panel-heading {
        color: #fff !important;
        background-color: #22233e !important;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading text-center">Materias</div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 50px">
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Lengua Española", "Español", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Matemáticas", "Matematica", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Ciencias Naturales", "Naturales", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Ciencias Sociales", "Sociales", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Formación Humana Religiosa", "Religion", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Educación Física", "Deporte", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Educación Artística", "Arte", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-3">
                <div class="thumbnail" style="height: 200px; background-color: #61C187;">

                    <div style="margin-top: 40px;">
                        <div style="margin-top: 20px; margin-bottom: 6px">
                            @Html.ActionLink("Curso Optativo", "Optativa", "Asignar_Tarea", new { }, new { @class = "btn btn-default btn-block" })
                        </div>
                        <div class="img-responsive">

                            <img src="~/Image/jerry-wang-jfnUC7s3iuw-unsplash.jpg" class="img-circle center-block" height="100" width="100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>